@model Identity.Model.ChangePasswordViewModel
@{
    Layout = null;
}
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="control-label">Senha atual</label>
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Nova senha</label>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Confirme sua senha</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    <div class="margin-top-10">
        <button type="submit" class="btn green-meadow"> Alterar Senha </button>
    </div>
}