@using System.Security.Claims;
@using Domain.Enum;
@using Application.ViewModels;
@{
    var user = (ClaimsIdentity)User.Identity;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--FONT-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
   @Styles.Render("~/MetronicGlobalMandatory/css")
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN THEME GLOBAL STYLES -->
    @Styles.Render("~/ThemeGlobal/css")
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    @Styles.Render("~/MetronicLayoutStyle/css")
    <!-- END THEME LAYOUT STYLES -->
    <!-- BEGIN CUSTOM STYLES -->
    @Styles.Render("~/Flash-messages/css")
    <!-- END CUSTOM STYLES -->
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body class="page-container-bg-solid">

    <div class="page-wrapper">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top">
                <!-- BEGIN HEADER -->
                <div class="page-header">
                    <!-- BEGIN HEADER TOP -->
                    <div class="page-header-top" style="background-color:#333">
                        <div class="container">
                            <!-- BEGIN LOGO -->
                            <div class="page-logo">
                                <a href="@Url.RouteUrl("Default", new { controller = "Home", action = "index"})">
                                    <img src="~/Content/img/logo-default.png" style="margin-top:5%;width: 148px !important;height:  50px !important;" />
                                </a>
                            </div>
                            <!-- END LOGO -->
                            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                            @*@RenderSection("SandwichMenu", false)*@
                            <!-- END RESPONSIVE MENU TOGGLER -->
                            <!-- BEGIN TOP NAVIGATION MENU -->
                            @*MAIN MENU*@
                            <div id="first-menu" class="top-menu">
                                <ul class="nav navbar-nav pull-right ">
                                    <!-- BEGIN TODO DROPDOWN -->
                                    @if (LayoutViewModel.VerifyClaimExists(TypePermissionEnum.USER, ValuePermissionEnum.CONSULT, user))
                                    {
                                        <li id="weldingstd">
                                            <a href="@Url.RouteUrl("Default", new { controller = "User", action = "index" })">
                                                Usuário
                                            </a>
                                        </li>
                                    }
                                    <li class="droddown dropdown-separator ">
                                        <span class="separator" role="separator"></span>
                                    </li>
                                    @if (LayoutViewModel.VerifyClaimExists(TypePermissionEnum.PROFILE, ValuePermissionEnum.CONSULT, user) || LayoutViewModel.VerifyClaimExists(TypePermissionEnum.USER, ValuePermissionEnum.CONSULT, user))
                                                            {
                                        <li class="dropdown" id="header_notification_bar">
                                            <a id="users" href="#" data-toggle="dropdown">Administrativo</a>
                                            <ul class="dropdown-menu">
                                                @if (LayoutViewModel.VerifyClaimExists(TypePermissionEnum.PROFILE, ValuePermissionEnum.CONSULT, user))
                                                {
                                                    <li>
                                                        <a href="@Url.RouteUrl("Default", new { controller = "Profile", action = "index" })">
                                                            Perfis
                                                        </a>
                                                    </li>
                                                }

                                                @if (LayoutViewModel.VerifyClaimExists(TypePermissionEnum.USER, ValuePermissionEnum.CONSULT, user))
                                                {
                                                    <li>
                                                        <a href="@Url.RouteUrl("Default", new { controller = "User", action = "index" })">
                                                            Usuários
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    <!-- END TODO DROPDOWN -->
                                    <!-- BEGIN USER DROPDOWN -->
                                    @if (Request.IsAuthenticated)
                                    {
                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-nav pull-right" }))
                                        {
                                            <li class="dropdown" id="header_notification_bar">
                                                <a id="profile" href="#" data-toggle="dropdown">
                                                    @User.Identity.Name
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="@Url.RouteUrl("Default", new { controller = "User", action = "Details"})">Meus Dados</a></li>
                                                    @Html.AntiForgeryToken()
                                                    <li>
                                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                                            Sair
                                                            <i class="icon-logout"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                    }
                                    <!-- END USER DROPDOWN -->
                                </ul>
                            </div>
                            <!-- END TOP NAVIGATION MENU -->
                        </div>
                    </div>
                    <!-- END HEADER TOP -->
                    <!-- BEGIN HEADER MENU -->
                    @*@RenderSection("SubMenu", false)*@

                    <!-- END HEADER MENU -->
                </div>
                <!-- END HEADER -->
            </div>
        </div>

        <div class="page-wrapper-row full-height">
            <div class="page-wrapper-middle">
                <!-- BEGIN CONTAINER -->
                <div class="page-container">
                    <!-- BEGIN CONTENT -->
                    <div class="page-content-wrapper">
                        <!-- BEGIN CONTENT BODY -->
                        <div class="page-content">
                            <div class="container">
                                <div class="page-content-inner">


                                    @RenderSection("FlashMessage", false)

                                    @RenderBody()

                                </div>
                            </div>
                        </div>
                        <!-- END CONTENT BODY -->
                    </div>

                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <!-- END PAGE BREADCRUMBS -->
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->

            </div>
            <!-- END CONTAINER -->
        </div>

    </div>
    @*FOOTER*@
    <div class="page-wrapper-row">
        <div class="page-wrapper-bottom">
            <!-- BEGIN FOOTER -->
            <div class="text-center">
                <!-- BEGIN INNER FOOTER -->
                <div class="page-footer">
                    <div>
                        <!--img-->
                    </div>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
                <!-- END INNER FOOTER -->
            </div>
            <!-- END FOOTER -->
        </div>
    </div>

    @Scripts.Render("~/Core/js")
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    @Scripts.Render("~/bundles/metronicThemeGlobal/js")
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    @Scripts.Render("~/Theme/js")
    <!-- END THEME LAYOUT SCRIPTS -->
    <!--BEGIN GLOBAL CUSTOM SCRIPTS-->
    @Scripts.Render("~/globalCustomJS/js")
    <!--END GLOBAL CUSTOM SCRIPTS-->
</body>
</html>
