@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutModal</title>
    <link href="~/Metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Flash-messages/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div>
        @RenderBody()
    </div>
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/ReloadModal")      

    @RenderSection("scripts", required: false)
</body>
</html>